// geo<%> clase de contenedor, según cómo se quiera imprimir.

.main.tools,
.main.algebra {
  margin-left: inherit !important;
  background-color: #fff !important;
}
.GeoGebraFrame {
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-image: unset !important;
  }
}

.GeogebraFrame th,
.GeogrbraFrame td {
  min-width: inherit !important;
}

.gwt-MenuItem {
  &::before {
    display: none;
  }
}
ul.gwt-MenuBar {
  padding-left: 0px !important;
  li::before {
    display: none;
  }
}
