@use "sass:map";
$colores-deg-sitio: (
  deg-sitio: linear-gradient(to top, rgb(235, 0, 0) 0%, rgb(255, 59, 59) 70%),
  alter-sitio: #f00,
  deg-sitio-texto-color: #fff,
  alter-sitio-texto-color: #fff,
);
$link-color: $grey-dk-300;
$body-font-family: "Raleway", sans-serif;
$mono-font-family: "Ubuntu Mono", monospace;

/* Añadir alternativas */
