@use "sass:map";
$colores-deg-sitio: (
  deg-sitio: linear-gradient(to bottom, #00d1a0 25%, #5ac000 75%),
  alter-sitio: #00d154,
  deg-sitio-texto-color: #fff,
  alter-sitio-texto-color: #fff,
);
$link-color: $grey-dk-300;
$body-font-family: "Raleway", sans-serif;
$mono-font-family: "Ubuntu Mono" monospace;

/* Añadir alternativas */
